.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#main-container {
  width: 700px; height: 96vh;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
}

#top-bar {
  z-index:10;
  width: 640px; height: 75px;
  border: 1px solid black;
  background-color: white;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#top-bar p{
  line-height: 62px;
}
#top-bar p:hover{
  font-weight: bold;
  cursor: pointer;
}

#main-content{
  position: relative;
  width: 700px;
  overflow: scroll;
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cocktail-list{
  flex: 1;
  position: absolute;
  width: 250px;
  list-style: none;
  padding: 8px 30px;
}

#cocktail-list li:hover{
  font-weight: bold;
  cursor: pointer;
}
#details-container {
  margin: auto;
  position: fixed;
  width: 325px;
  height: 96vh;
  transform: translate(350px, -79px);
  overflow: scroll;
}

#cocktail-details {
  position: absolute;
  right: 0px; top: 100px;
  max-width: 300px;
  padding: 10px 20px;
  border: 1px solid black;

}
#cocktail-details p, li, ul{
  font-size: 14px;
}
#cocktail-details ul{
  padding: 0px;
  list-style-type: none;
}
#cocktail-details h4{
  font-size: 14px;
}

#cocktail-description {
  font-style: italic;
}

#add-cocktail-container {
  z-index: 100;
  position: absolute;
  right: 0px; top: 100px;
  width: 275px;
  padding: 10px 20px;
  border: 1px solid black;
}

#add-cocktail-container span {
  display: block;
}
#add-cocktail-container input{
  position: absolute;
  right: 10px;
}
