::placeholder{
  color: silver;
}
.main-container {
  position: relative;
  min-width: 600px; min-height: 400px;
  width: 66vw; height: 95vh;
  margin: 2vh auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid black;
  font-size: 14px;
}
.top-bar {
  height: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.top-bar p:hover{
  font-weight: bold;
  cursor: pointer;
}
.top-bar input {
  padding-left: 5px;
  height: 15px;
  border: 1px solid black;
}
.list-container {
  box-sizing: border-box;
  overflow: scroll;
  flex: 1;
}
.list-container ul{
  margin: 0;
  padding: 10px 0 0 20px;
  list-style: none;
  line-height: 25px;
}
.list-container li:hover{
  font-weight: bold;
  cursor: pointer;
}
.details-container {
  background-color: white;
  position: absolute;
  top: 90px; right: 20px;
  width: 300px;
  padding: 5px 20px;
  border: 1px solid black;
}
.details-container ul{
  padding: 0px;
  list-style-type: none;
}
.details-container label{
  font-weight: bold;
  margin-right: 15px;
}
.details-container input{
  border: 1px solid black;
}
.details-container input[type='submit']{
  margin-bottom: 10px;
}
.name-input, .large-input {
  margin: 10px 0;
}
.large-input textarea{
  width: 293px;
  min-height: 50px;
  resize: vertical;
  border: 1px solid black;
  margin-top: 10px;
}
.ingredients-form input{
  margin: 10px 10px 0 0;
}
.ingredients-amount {
  width: 40px;
}
.ingredients-name {
  margin-right: 10px;
  width: 210px;
}
.addIngredientButton {
  width: 105px;
  color: silver;
}
.addIngredientButton:hover {
  color: black;
  cursor: pointer;
}
.removeIngredientButton{
  margin-left: 10px;
  color: silver;
}
.removeIngredientButton:hover {
  color: black;
  cursor: pointer;
}
